* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1040px;
}

.header {
  background-color: #f5f5f5;
  padding: 0 100px 15px;
}

.nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav__links-item-right {
  color: #000;
  margin-right: 20px;
  text-decoration: none;
}

.nav__links-item-right:hover,
.nav__links-item-left:hover {
  text-shadow: #555 1px 0 10px;
}

.nav__links-item-left {
  color: #000;
  margin-left: 20px;
  text-decoration: none;
}

.logo,
.tel {
  color: #7293aa;
  font-size: 25px;
}

.header__find {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

h1 {
  color: #009697;
}

h1 span {
  text-decoration: underline;
}

.header__img img {
  width: 100%;
}

.header__search {
  margin-top: 30px;
}

.header__find-descr {
  width: 350px;
  margin-top: 30px;
}

.header__find-form {
  margin-top: 20px;
}

.header__find-form input {
  width: 50%;
  padding: 10px 5px;
}
.header__find-form button {
  cursor: pointer;
  width: 25%;
  padding: 10px 5px;
  margin-left: 10px;
  background-color: #009697;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.header__find-eye {
  color: #a5823d;
  text-decoration: underline;
  transition: 0.2s all;
  margin-top: 30px;
}

.header__find-eye:hover {
  transition: 0.2s all;
  cursor: pointer;
  color: #e7a729;
}

.header__tranding {
  margin-top: 20px;
}

.header__tranding-imgs {
  margin-top: 15px;
}

.header__tranding-title {
  color: #e7a729;
}

.header__tranding-imgs {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: space-between;
}

.header__tranding-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__tranding-img img {
  object-fit: contain;
  width: 100%;
  height: 100px;
}

.ways {
  margin-top: 40px;
}

.ways__title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.ways__title span {
  text-decoration: underline;
}

.ways__descr {
  padding-top: 7px;
  width: 450px;
  margin: 0 auto;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article__img {
  text-align: center;
}

.article img {
  width: 50%;
}

.article__author {
  text-align: end;
  font-style: italic;
}

.article__title {
  font-weight: bold;
}

.prev,
.next {
  width: 100px;
  height: 80px;
  background-color: #a5823d;
  color: #fff;
  font-size: 28px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
}

.slider {
  position: relative;
  margin-top: 30px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.slider__images {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, 1fr);
}

.slider__images img {
  width: 100%;
  object-fit: cover;
}

.long-img {
  grid-row: 1/3;
  display: grid;
  align-items: center;
}

.slider__descr {
  margin-top: 40px;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
}

.slider__descr-about {
  width: 400px;
  line-height: 30px;
}

.slider__title span {
  color: #a5823d;
  font-weight: bold;
  font-size: 28px;
}

.slider__person {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.slider__person img {
  width: 80px;
  border-radius: 50%;
}

.person__descr {
  margin-left: 10px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.slider__buttons-btn {
  padding: 7px 50px;
  color: #a5823d;
  border: 1px solid #a5823d;
  border-radius: 2px;
  cursor: pointer;
}

.slider__buttons-btn:hover,
.prev:hover,
.next:hover {
  opacity: 0.6;
}

.slider__buttons-btn.start {
  background-color: #a5823d;
  color: #fff;
}

.slider__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.carousel__title {
  font-size: 40px;
  padding: 30px 0 0 180px;
}

.carousel__title span {
  text-decoration: underline;
}

.carousel__descr {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 550px 1fr;
  justify-content: space-around;
}

.carousel .btn {
  justify-self: center;
}

.carousel__btn {
  color: #fff;
  background-color: #000;
  padding: 15px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.carousel__images {
  margin-top: 15px;
}

.carousel__images {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  gap: 60px;
}

.carousel__images img {
  width: 100%;
}

.img__author {
  font-style: italic;
}

.carousel__stars {
  text-align: center;
  margin-top: 20px;
}

.carousel__stars span {
  font-size: 40px;
}

.carousel__rating {
  margin-top: 30px;
  text-align: center;
}

.carousel__rating span {
  text-decoration: underline;
}

.cards__items {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cards__items .item {
  padding: 15px 7px;
  border-top: 1px solid rgba(131, 137, 150, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item_br-right {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../img/violets.jpg') center center/cover no-repeat;
  border-right: 1px solid rgba(131, 137, 150, 0.5);
}

.card__title {
  text-align: center;
  color: #009697;
  font-weight: bold;
  font-size: 30px;
}

.card__descr {
  margin-top: 15px;
  text-align: center;
}

.card__read-now {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #a5823d;
  font-size: 30px;
}

.item__title {
  margin-top: 15px;
  margin-left: 5px;
}

.leaves {
  margin-top: 15px;
  margin-left: 50px;
}

.leaf {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 40px;
}

.leaf__img img {
  width: 100%;
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.footer__title {
  padding: 0 120px;
}

.footer__title .title {
  padding-bottom: 20px;
  text-align: center;
  opacity: 0.2;
  font-style: italic;
}

.footer__links {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__links .list {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list a {
  text-decoration: none;
  color: #000;
}

.list .company__title {
  font-weight: bold;
  color: #009697;
}

.company p,
.company a {
  line-height: 25px;
}

.refs {
  padding: 0 220px;
}

.footer__refs {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.footer__refs a {
  text-decoration: none;
  color: #000;
  opacity: 0.2;
  margin-right: 65px;
}

.footer__refs .copy {
  color: #009697;
  opacity: 1;
  font-weight: bold;
}

.box {
  position: relative;
  overflow: hidden;
  height: 419.1px;
  background-size: cover;
  cursor: pointer;
  width: 100%;
}

.hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 119, 69, 0.82);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.box:hover .hover-effect {
  opacity: 1;
}
.box:hover .hover-text {
  right: 0;
}

.hover-text {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.hover-text-title {
  color: #fff;
  margin-top: 100px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.hover-text-descr {
  color: #fff;
  margin-top: 15px;
  margin-left: 50px;
}

.hover-text-btn {
  color: #fff;
  margin-top: 25px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.carousel__stars .stars:hover {
  cursor: pointer;
  color: #e7a729;
}

.card__header:hover {
  cursor: pointer;
  color: #009697;
}

.footer__links .list a:hover {
  color: #e7a729;
}
